// stylelint-disable
/// border-radius
$b-radius: (
  _prefix: "b-radius",
  full: (border-radius: 100%),
  half: (border-radius: 50%),
  quarter: (border-radius: 25%),
  "2": (border-radius: 2px),
  "4": (border-radius: 4px),
  "6": (border-radius: 6px),
  "8": (border-radius: 8px),
  "10": (border-radius: 10px),
) !default;
