/// display
$d: (
  _prefix: "d",
  _generate-down-breakpoints: true,
  none: (
    display: none,
  ),
  block: (
    display: block,
  ),
  inline: (
    display: inline,
  ),
  inblock: (
    display: inline-block,
  ),
  flx: (
    display: flex,
  ),
  inflx: (
    display: inline-flex,
  ),
  table: (
    display: table,
  ),
  trow: (
    display: table-row,
  ),
  tcell: (
    display: table-cell,
  ),
) !default;
