/// headings from 1 to 6
$um-fh: (
  _prefix: "fh",
  _common: (
    font-weight: $font-weight-bold,
  ),
  1: (
    font-size: $font-size-h1,
    margin-bottom: $spacer5,
  ),
  2: (
    font-size: $font-size-h2,
    margin-bottom: $spacer3,
  ),
  3: (
    font-size: $font-size-h3,
    margin-bottom: $spacer3,
  ),
  4: (
    font-size: $font-size-h4,
    margin-bottom: $spacer2,
  ),
  5: (
    font-size: $font-size-h5,
    margin-bottom: $spacer2,
  ),
  6: (
    font-size: $font-size-h6,
    margin-bottom: $spacer2,
  ),
) !default;

/// Add to utility map
$um: map-merge($um, (um-fh: $um-fh));
