$um-flx-row-align-self: (
  _prefix: "flx-row-align-self",
  _common: (),
  left: (
    justify-self: flex-start,
  ),
  centerx: (
    justify-self: center,
  ),
  right: (
    justify-self: flex-end,
  ),
  top: (
    align-self: flex-start,
  ),
  centery: (
    align-self: center,
  ),
  bottom: (
    align-self: flex-end,
  ),
);

/// Add to utility map
$um: map-merge($um, (um-flx-row-align-self: $um-flx-row-align-self));
