$flx-row-align-self: (
  _prefix: "flx-row-align-self",
  left: (
    justify-self: flex-start,
  ),
  centerx: (
    justify-self: center,
  ),
  right: (
    justify-self: flex-end,
  ),
  top: (
    align-self: flex-start,
  ),
  centery: (
    align-self: center,
  ),
  bottom: (
    align-self: flex-end,
  ),
);
