/// paragraph from 1 to 6
$fp: (
  _prefix: "fp",
  "1": (
    font-size: $font-size-p1,
    margin-bottom: $spacer2,
  ),
  "2": (
    font-size: $font-size-p2,
    margin-bottom: $spacer2,
  ),
  "3": (
    font-size: $font-size-p3,
    margin-bottom: $spacer2,
  ),
  "4": (
    font-size: $font-size-p4,
    margin-bottom: $spacer1,
  ),
  "5": (
    font-size: $font-size-p5,
    margin-bottom: $spacer1,
  ),
  "6": (
    font-size: $font-size-p6,
    margin-bottom: $spacer1,
  ),
) !default;
