/// font-size
$fs: (
  _prefix: "fs",
  h1: (font-size: $font-size-h1),
  h2: (font-size: $font-size-h2),
  h3: (font-size: $font-size-h3),
  h4: (font-size: $font-size-h4),
  h5: (font-size: $font-size-h5),
  h6: (font-size: $font-size-h6),
  p1: (font-size: $font-size-p1),
  p2: (font-size: $font-size-p2),
  p3: (font-size: $font-size-p3),
  p4: (font-size: $font-size-p4),
  p5: (font-size: $font-size-p5),
  p6: (font-size: $font-size-p6),
) !default;
