/// font-weight
$fw: (
  _prefix: "fw",
  light: (
    font-weight: $font-weight-light,
  ),
  regular: (
    font-weight: $font-weight-regular,
  ),
  medium: (
    font-weight: $font-weight-medium,
  ),
  semi: (
    font-weight: $font-weight-semi-bold,
  ),
  bold: (
    font-weight: $font-weight-bold,
  ),
  extra: (
    font-weight: $font-weight-extra-bold,
  ),
) !default;
