/// margin
$mt: maple-generate($spacers, "margin-top", "mt") !default;
$mr: maple-generate($spacers, "margin-right", "mr") !default;
$ml: maple-generate($spacers, "margin-left", "ml") !default;
$mb: maple-generate($spacers, "margin-bottom", "mb") !default;
$mx: maple-generate($spacers, "margin-x", "mx") !default;
$my: maple-generate($spacers, "margin-y", "my") !default;
$m: maple-generate($spacers, "margin", "m") !default;
