/// position
$pos: (
  _prefix: "pos",
  absolute: (
    position: absolute,
  ),
  fixed: (
    position: fixed,
  ),
  relative: (
    position: relative,
  ),
  static: (
    position: static,
  ),
  sticky: (
    position: sticky,
  ),
) !default;

/// position spacing
$top: maple-generate($spacers, "top", "top") !default;
$right: maple-generate($spacers, "right", "right") !default;
$left: maple-generate($spacers, "left", "left") !default;
$bottom: maple-generate($spacers, "bottom", "bottom") !default;
