/// max-width
$wmax: (
  _prefix: "wmax",
  narrow: (
    max-width: map-get($container-max-widths, "sm")
  ),
  normal: (
    max-width: map-get($container-max-widths, "md")
  ),
  wide: (
    max-width: map-get($container-max-widths, "lg")
  ),
  vast: (
    max-width: map-get($container-max-widths, "xl")
  ),
  "5": (max-width: 5%),
  "10": (max-width: 10%),
  "15": (max-width: 15%),
  "20": (max-width: 20%),
  "25": (max-width: 25%),
  "30": (max-width: 30%),
  "35": (max-width: 35%),
  "40": (max-width: 40%),
  "45": (max-width: 45%),
  "50": (max-width: 50%),
  "55": (max-width: 55%),
  "60": (max-width: 60%),
  "65": (max-width: 65%),
  "70": (max-width: 70%),
  "75": (max-width: 75%),
  "80": (max-width: 80%),
  "85": (max-width: 85%),
  "90": (max-width: 90%),
  "95": (max-width: 95%),
  "100": (max-width: 100%),
) !default;
