/// colors
$c-alpha: #000 !default;
$c-beta: #333 !default;
$c-danger: #b00 !default;
$c-dark: #212529 !default;
$c-info: #17a2b8 !default;
$c-light: #f0f0f0 !default;
$c-muted: #ccc !default;
$c-success: #44602d !default;
$c-warning: #ffc107 !default;

$c-black: #000 !default;
$c-white: #fff !default;

$color-base-map: (
  alpha: $c-alpha,
  beta: $c-beta,
  danger: $c-danger,
  dark: $c-dark,
  info: $c-info,
  light: $c-light,
  muted: $c-muted,
  success: $c-success,
  warning: $c-warning,
  white: $c-white,
  black: $c-black,
);

$opacities: (0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9);
$color-opacities: ();

@each $key in map-keys($color-base-map) {
  $color: map-get($color-base-map, $key);

  @each $opacity in $opacities {
    $color-opacities: map-merge(
      (
        #{$key}-#{$opacity * 100}: rgba($color, $opacity),
      ),
      $color-opacities,
    );
  }
}

$color-map: map-merge($color-base-map, $color-opacities) !default;
