$font-size-base: 1rem !default;
$font-size-h1: $font-size-base * 2.5 !default;
$font-size-h2: $font-size-base * 2 !default;
$font-size-h3: $font-size-base * 1.75 !default;
$font-size-h4: $font-size-base * 1.5 !default;
$font-size-h5: $font-size-base * 1.25 !default;
$font-size-p1: $font-size-base * 1.375 !default;
$font-size-h6: $font-size-base * 1.125 !default;
$font-size-p2: $font-size-base * 1.125 !default;
$font-size-p3: $font-size-base !default;
$font-size-p4: $font-size-base * 0.875 !default;
$font-size-p5: $font-size-base * 0.75 !default;
$font-size-p6: $font-size-base * 0.625 !default;
